.container {
  flex: 1;
  justify-content: 'center';
  align-items: 'center';
}

.title {
  font-size: 20px;
  text-align: 'center';
  margin: 10px;
}

.instructions {
  text-align: 'center';
  margin: 0 50px;
}
