@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300');

.seat {
  min-height: 100px;
  margin: 1px;
  font-family: 'IBM Plex Sans', sans-serif;
  border: none;
  background-color: white;
  text-align: center;
  font-size: 20px;
}

.seat:hover, .seat:focus {
  background-color: #00FF84;
}

.occupied {
  background-color: #FFF1F1;
}

.premium {
  border: 1px dashed black;
}

.overwing {
  border: 1px dotted black;
}
